<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ran's Web Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
        function getBody() {
            $("#theForm").ajaxForm({ url: 'server.php', type: 'post' })
        }

        $(document).ready(function () {
            $.ajax({
                url: "/home/GetAside",
                success: function (result) {
                    $('#weather-aside-wait').fadeOut(2000);
                    $('#weather-aside').html(result);
                }
            });

            $('#search-button').click(function () {
                $('#ajax-body-wait').fadeIn(5);
                $('#products-div').html("");
                $.ajax({
                    type: "POST",
                    url: '/home/search',
                    data: $("#theForm").serialize(), // serializes the form's elements.
                    success: function (data) {
                        $('#ajax-body-wait').fadeOut(5);
                        $('#products-div').html(data); // show response from the php script.
                    }
                });
            });
            
        });
    </script>
</head>

<body>
    <aside id="weather-aside">
        <div id="weather-aside-wait">
            <p>Getting Weather Data</p>
            <p>Hang on...</p>
            <img style="margin-left:45%;" src="http://i.stack.imgur.com/FhHRx.gif" alt="enter image description here">
        </div>
    </aside>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ran's Web Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="ajax-body">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ran's Web Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
