
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
</script>
<div id="heppiest-section">
    <br />
    <br />
    @if (ViewBag.isData != null && ViewBag.isData)
    {
        <div class="header centered">Your top <span class="emotion-str">happiest</span> images</div>
        <br />
        <br />
        <div class="happiest-wrapper">
            <div class="happiest-title">Your top <span class="emotion-str">happiest</span> photos</div>
            <div id="happiest-div-@(ViewBag.personId)" class="happy-div"><img style="margin-left: 40%;" src="@Url.Content("~/Content/Images/ajax-loader.gif")" height="40" width="40" /></div>
        </div>
    
        foreach (var v in ViewBag.userFriends)
        {
            <div class="happiest-wrapper">
                <img src="@Url.Content("~/Content/Images/" + v.PersonId + "/image_" + v.ProfilePicId + "_small.jpg")" height="50" width="50" class="emotions-click-img" />
                <div class="happiest-title">@(v.Name)'s <span class="emotion-str">happiest</span> photos</div>
                <div id="happiest-div-@(v.PersonId)" class="happy-div"><img style="margin-left: 40%;" src="@Url.Content("~/Content/Images/ajax-loader.gif")" height="40" width="40" /></div>
            </div>
        }
    }
    else
    {
        <div class="happiest-wrapper">
            @Html.Partial("AwaitingForData")
        </div>
    }
</div>

